.order-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    margin: 0 auto;
    padding-top: 180px;
}
.orders-table {
    border-collapse: collapse;
    width: 100%;
  }
  
.orders-table th {
    padding: 8px;
    width:100px;
  }
  .orders-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .orders-table tr:hover {background-color: #ddd;}
  
  .orders-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }