.top-nav{
    background-color:brown;
}
.right-nav a{
    font-weight: 500;
    margin-right: 20px;
    color:white !important;
}
.top-nav h2{
    font-weight: 700;
}
.top-nav img{
    width: 100px;
    height: 45px;
}
.right-nav a:hover{
    background-color:darksalmon;
    border-radius: 5px;
    transition: all 0.3s;
}