.top-nav{
    background-color:bisque;
}
.right-nav a{
    font-weight: 500;
    margin-right: 20px;
    color: black !important;
}
.top-nav h2{
    font-weight: 700;
}
.top-nav img{
    width: 120px;
    height: 50px;
}
.right-nav a:hover{
    background-color:cadetblue;
    border-radius: 5px;
}